.toptitle {
    color: #FFF;
    height: 91px;
    padding: 0 2% 0 2%;
    z-index: 2005;
    background-color: #2b3245;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow:hidden;
}

.toptitle .leftk {
    float: left;
    margin-top: 16px;
    height:60px;
}

.toptitle .leftk>img {
    vertical-align: middle;
    display:inline-block;
    max-width: 100%;
    height:100%;
    background-color:#FFF;
    border-radius:50%;
}

.toptitle .leftk>i {
    vertical-align: middle;
    color: #FFF;
    font-size: 30px;
    margin: 6px 0 0 15px;
}

.toptitle .rightk {
    float: right;
    margin-top: 32px;
    position: relative;
}

.toptitle .erectline {
    margin: 0 18px;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: 1px;
    background-color: #414758;
}

.toptitle .avatark{display:inline-block;vertical-align:middle;}
.toptitle .avatark>img{width:58px;background-color:#409EFF;border-radius: 50%;}
