body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0;font-weight:inherit;}
.clearfix{zoom:1;}
.clearfix:after{content:'.';display:block;visibility:hidden;clear:both;overflow:hidden;height:0px;}
body{font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;margin:0 auto;font-size:14px;min-height:100%;}
ul,li{list-style:none;margin:0;padding:0;}
a,img,span{display:inline-block;max-width:100%;}
a{color:#464c5c;text-decoration:none;}

.img-responsive{max-width:100%;display:block;}
.elementBlock{display:block !important;}
.elementNone{display:none !important;}
.elementhidden{visibility:hidden !important;}
.verMiddle{vertical-align:middle !important;}
.vercenter{text-align:center !important;}
.verleft{text-align:left !important;}
.textright{text-align:right !important;}
.verbold{font-weight:bold !important;}
.qcmargin{margin:0 !important;}
.qcpadding{padding:0 !important;}
.qcbdbt{border-bottom:0 !important;}
.qcbdtop{border-top:0 !important;}
.qcbdlt{border-left:0 !important;}
.qcbdrt{border-right:0 !important;}
.bjcolor{background-color:#FFF !important;}
.minheight{min-height:537px;}
a:hover{text-decoration:none;}
a:active{text-decoration:none;}
a:visited{text-decoration:none;}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}